<div class="container mx-auto my-5 p-5" style="width: 60%; background-color: rgb(255, 243, 226); border-radius: 20px;">
    <form #login="ngForm" (ngSubmit)="submitLogin(login)" style="width: 90%;"  class="mx-auto">

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label ">Email address</label>
          <input 
          type="email" 
          class="form-control mx-auto" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp"
          name="email"
          
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
          ngModel
          required
          #email="ngModel"
          >
          @if(email.invalid && email.touched){
            <div id="emailHelp" class="form-text text-danger">
                @if(email.errors?.['required']){
                    <span>E-mail is required</span>
                }
                @else if(email.errors?.['pattern']){
                    <span>Please enter a valid e-mail</span>
    
                }
                
            </div>
    
          }
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input 
          name="pass"
          type="password" 
          class="form-control" 
          id="exampleInputPassword1"
          required
          ngModel
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" 
          #pass="ngModel"
          
          >
          @if(pass.invalid && pass.touched){
            <div id="passwordHelp" class="form-text text-danger mx-auto">
                @if(pass.errors?.['required']){
                    <span>Please enter your password!</span>
                }
                @else if(pass.errors?.['pattern']){
                    <span>Password should be at least eight characters long, has at least one uppercase letter, one lowercase letter and one number</span>
    
                }
                
            </div>
    
          }
        </div>
        
        <button type="submit" class="btn btn-outline-dark " style="margin-left: 40%;"[disabled]="login.invalid">Log in</button>
        
      </form>
</div>